@import url("https://fonts.googleapis.com/css2?family=Nunito+Sans:opsz,wght@6..12,300&family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap");

:root {
  --mainColor: #fff;
  --mainLightColor: rgba(235, 235, 235, 0.5);
  --mainDimColor: rgb(228, 228, 228);
}

.container {
  min-height: 100vh;
  min-width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  /* flex-direction: column; */
  color: var(--mainColor);
  font-family: "Poppins";
}

.backgroundVideo {
  position: absolute;
  right: 0;
  top: 0;
  width: 100%;
  object-fit: cover;
  z-index: -1;
  filter: saturate(2);
  filter: contrast(-10);
  height: 100vh;
}

* {
  font-family: "Nunito Sans", serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  overflow: hidden;
  line-height: 1.5;
  text-rendering: optimizeLegibility;
}
/* html {
  font-size: 16px;
  scroll-behavior: smooth;
}

body {
  color: #333;
  background-color: #f5f5f5;
  overflow-x: hidden;
} */

#songAvatar {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  margin: 18px 0;
  object-fit: cover;
  position: relative;
  cursor: pointer;
  animation: animateAvatar 0.6s linear infinite;
}
@keyframes animateAvatar {
  0%,
  100% {
    transform: scale(1);
    /* transform: rotate(40); */
  }

  50% {
    transform: scale(1.03);
  }
}
.blackScreen {
  width: 100vw;
  height: 100vh;
  pointer-events: none;
  position: absolute;
  background-color: rgba(17, 17, 17, 0.2);
}

.music-container {
  width: 350px;
  padding: 35px 40px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  border-radius: 30px;
  box-shadow: 0 0 20px rgba(26, 26, 26, 0.1), 0 0 40px rgba(26, 26, 26, 0.1),
    0 0 80px rgba(26, 26, 26, 0.1);
  /* filter: blur(10); */
  backdrop-filter: blur(10px);
  z-index: 1;
  font-weight: 600;
}

.music-Head-Name {
  margin: 0 auto;
  font-size: 1.5rem;
  text-align: center;
}

.music-Artist-Name {
  color: var(--mainDimColor);
  margin: 4px 0;
  font-size: 1.2rem;
  font-weight: 400;
}

.musicTimerDiv {
  display: flex;
  width: 100%;
  justify-content: space-between;
  font-weight: 600;
}

.musicProgressBar {
  width: 100%;
  margin-bottom: 16px;
  height: 5px;
  color: blanchedalmond;
  border-radius: 10px;
  outline: none;
  filter: hue-rotate(20deg);
}
.playBtn {
  font-size: 32px;
  margin: auto 10px;
  color: var(--mainColor);
  cursor: pointer;
  font-weight: 400;
}
.musicController {
  display: flex;
  justify-content: space-evenly;
  width: 100%;
  cursor: pointer;
  font-size: 30px;
  color: var(--mainColor);
}

.changeBackBtn {
  width: 200px;
  height: 30px;
  background-color: #eee;
  position: absolute;
  border-radius: 12px 12px 0 0;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  z-index: 10;
  transition: 0.3s;
  color: #eee;
  cursor: pointer;
  padding: 10px 0 0 0;
  font-weight: 800;
  text-align: center;
}

.changeBackBtn:hover {
  height: 50px;
  color: #222;
}

